services:
  kafka:
    image: spotify/kafka
    environment:
      ADVERTISED_HOST: localhost
      ADVERTISED_PORT: 9092
    ports:
      - 9092:9092
      - 2181:2181
  redis:
    image: redis:7-alpine
    restart: always
    ports:
       - 6379:6379
  wiremock:
    image: "wiremock/wiremock"
    volumes:
      - ./wiremock/__files:/home/wiremock/__files
      - ./wiremock/mappings:/home/wiremock/mappings
    ports:
      - "9999:8080"
    command: --verbose --disable-banner --local-response-templating
  mongo:
    image: mongo:5.0
    environment:
      MONGO_INITDB_DATABASE: node-connector-base
    ports:
      - 27017:27017
networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: 10.69.12.0/24
          gateway: 10.69.12.1
